{% extends 'base.html' %}
{% block title %}
Edit
{% endblock title %}
{% block body %}
<form action="/blog/{{blog_details.id}}/edit" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Blog Title" value="{{blog_details.title}}">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Blog Content" rows="3">{{blog_details.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<div class="mb-3">
{% endblock body %}